#my-canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
}

.falcon-planet{
    box-shadow: 0px 1px 24px 2px green !important;
}