html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $custom-bg;
}

.custom-primary-bg{
  background-color: $custom-primary;
  color: $white;
}

.custom-secondary-bg{
  background-color: $custom-secondary;
  color: $white;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex-shrink: 0;
  flex-grow: 0;
}
.content {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  // overflow-y: auto;
}

.footer {
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 3rem;
}


.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $black;
  opacity: 0.8;
  z-index: 999;
}